In [1]:
import pandas as pd

In [2]:
dis={'a':[1,2,3,45],'b':[3,4,3,5],'c':[3,3,5,6]}

In [3]:
d=pd.DataFrame(dis)

In [4]:
d

    a  b  c
0   1  3  3
1   2  4  3
2   3  3  5
3  45  5  6

In [12]:
d.to_csv("Test.csv")#it creates new file csv and write in their

In [14]:
d.to_csv("Tes2t.csv",index=False)#rempve the index from the file

In [16]:
d.to_csv("11Tes2t.csv",index=False,header=['aside','bside','cside'])