In [5]:
import pandas as pd

In [2]:
x=[1,2,3,4,5]#dataset of one D which is list

In [5]:
var=pd.Series(x)#making it in a series form

In [6]:
var[2]#printing the third value

3

In [13]:
var

0    1
1    2
2    3
3    4
4    5
dtype: int64

### using of index=[] helps to use demanded index for the data and dtype changes the datatype of data in the dataset

In [11]:
pd.Series(x,index=['a','b','c','d','e'],dtype='float16')

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float16

### name='' is used to keep the name for the dataset

In [12]:
pd.Series(x,index=['a','b','c','d','e'],dtype='float16',name='number')

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: number, dtype: float16

### WE CAN ALSO USE THE DICTIONARY ,TUPLE AS THE LIST TO MAKE A SERIES OF DATASET IN PANDAS

In [3]:
dic={'name':['Nick','Nani','Nansu'],'position':[1,2,3],'rank':[11,12,1]}

In [6]:
pd.Series(dic)

name        [Nick, Nani, Nansu]
position              [1, 2, 3]
rank                [11, 12, 1]
dtype: object

### TO MAKE SERIES OF 1 OBJECT

In [8]:
pd.Series(12)

0    12
dtype: int64

### TO MAKE THIS SERIES IN DIFFERENT INDEX

In [9]:
pd.Series(12,index=[1,2,3,4,5,6,7])

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64

In [11]:
pd.Series([1,2])+pd.Series([1,2,3])

0    2.0
1    4.0
2    NaN
dtype: float64