In [2]:
import pandas as pd

In [7]:
ph=pd.DataFrame({'A':[1,2,3,4],'B':[22,33,44,55]},index=['a','b','c','d'])
ph2=pd.DataFrame({'C':[1,2,3,46],'B':[2,33,44,5]},index=['a','b','c','d'])

In [9]:
pd.concat([ph,ph2],ignore_index=True)

     A   B     C
0  1.0  22   NaN
1  2.0  33   NaN
2  3.0  44   NaN
3  4.0  55   NaN
4  NaN   2   1.0
5  NaN  33   2.0
6  NaN  44   3.0
7  NaN   5  46.0